body{
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  background-color: #fff;
  font-family: 'proxima-nova',sans-serif;
  font-weight: 400;
  min-width: 895px;
}

header#sidebar {
  position: absolute;
  width: 27%;
  padding-left: 1.5%;
  position: fixed;
  min-height: 100%;
  min-width: 240px;
  border-right: 1px solid gray;
}

aside#logo {
  background: url("http://d1jcp5e5r52ocf.cloudfront.net/bolt_large.png") no-repeat;
  background-color: #FF0000;
  width: 165px;
  height: 165px;
  position: relative;
  display: block;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 30px;
}

li {
  list-style-type: none;
  margin-bottom: 20px;
}

section#river {
  margin-left: 29%;
  min-width: 658px;
  position: relative;
  border-bottom: 1px solid gray;
}

header#begin {
  position: relative;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 33px;
  font-family: "freight-sans-pro",sans-serif;
  margin: 5% 5% 5% 20%;
}

p, h4 {
  width: 50%;
  margin-left: 40%;
  text-align: left;
}





